{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Online KYC </title>
</head>
<link rel="stylesheet" type="text/css" href="{% static "css/kyc1.css"%}">
<script src="{% static "js/kyc1.js"%}"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<Body>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-11 col-sm-9 col-md-7 col-lg-6 col-xl-5 text-center p-0 mt-3 mb-2">
            <div class="card px-0 pt-4 pb-0 mt-3 mb-3 border-0">
                <h2 id="heading">REPORT</h2>
                <p></p>
                <form id="msform" action ='KYC2' method='post'>
                    {% csrf_token %}
                    <!-- progressbar -->
                    {% block includes %}
                    <!-- fieldsets -->
                    <fieldset>
                        <div class="form-card">
                            <div class="row">
                                <div class="col-7">
                                    <h2 class="fs-title"></h2>
                                </div>
                               <p>
                                   <h3>
                                    &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; <code>Name</code>  &nbsp;&nbsp;= {{name}}<br>
                                    &nbsp;&nbsp;  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; <code>Aadhar number</code> = {{aadhar}}<br> <br>
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   Your KYC is success
                                   </h3>
                               </p>


                            </div> <br><br>
                            <h2 class="purple-text text-center"><strong>SUCCESS !</strong></h2> <br>
                            <div class="row justify-content-center">
                                <img src="{% static 'img/face.jpg' %}" alt="Italian Trulli">
                                <div class="col-3"> <img src="https://i.imgur.com/GwStPmg.png" class="fit-image"> </div>
                            </div> <br><br>
                            <div class="row justify-content-center">
                                <div class="col-7 text-center">
                                    <h5 class="purple-text text-center">You Have Successfully Completed process</h5>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    {% endblock includes %}
                    
                  
              
                </form>
            </div>
        </div>
    </div>
</div>

</Body>
</html>


